<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changlu.system.mapper.StudioAchievementMapper">

    <resultMap type="com.changlu.system.pojo.StudioAchievementModel" id="StudioAchievementResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="previewImg"    column="preview_img"    />
        <result property="pocsId"    column="pocs_id"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="partUserIds"    column="part_user_ids"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="description"    column="description"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="inclusionFlag"    column="inclusion_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="com.changlu.system.pojo.dto.StudioAchievementDTO" id="StudioAchievementDTOResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="previewImg"    column="preview_img"    />
        <result property="pocsId"    column="pocs_id"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="partUserIds"    column="part_user_ids"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="description"    column="description"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="inclusionFlag"    column="inclusion_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="pocsName"    column="pocs_name"    />
    </resultMap>

    <sql id="selectStudioAchievementVo">
        select id, title, preview_img, pocs_id, create_user_id, part_user_ids, start_time, end_time, description, del_flag, inclusion_flag, create_time, update_time from studio_achievement
    </sql>

    <select id="selectStudioAchievementList" parameterType="com.changlu.system.pojo.StudioAchievementModel" resultMap="StudioAchievementDTOResult">
        select t1.id, title, preview_img, pocs_id, create_user_id, part_user_ids, start_time, end_time, description, del_flag, create_time, update_time, inclusion_flag,
            t2.pocs_name
        from studio_achievement as t1
        left join studio_pocs as t2 on t1.pocs_id = t2.id
        <where>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
        </where>
    </select>

    <select id="selectStudioAchievementById" parameterType="Long" resultMap="StudioAchievementResult">
        <include refid="selectStudioAchievementVo"/>
        where id = #{id}
    </select>

    <insert id="insertStudioAchievement" parameterType="com.changlu.system.pojo.StudioAchievementModel" useGeneratedKeys="true" keyProperty="id">
        insert into studio_achievement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="previewImg != null">preview_img,</if>
            <if test="pocsId != null">pocs_id,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="partUserIds != null">part_user_ids,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="description != null">description,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="inclusionFlag != null">inclusion_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="previewImg != null">#{previewImg},</if>
            <if test="pocsId != null">#{pocsId},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="partUserIds != null">#{partUserIds},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="description != null">#{description},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="inclusionFlag != null">#{inclusionFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateStudioAchievement" parameterType="com.changlu.system.pojo.StudioAchievementModel">
        update studio_achievement
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="previewImg != null">preview_img = #{previewImg},</if>
            <if test="pocsId != null">pocs_id = #{pocsId},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="partUserIds != null">part_user_ids = #{partUserIds},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="description != null">description = #{description},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="inclusionFlag != null">inclusion_flag = #{inclusionFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudioAchievementById" parameterType="Long">
        delete from studio_achievement where id = #{id}
    </delete>

    <delete id="deleteStudioAchievementByIds" parameterType="String">
        delete from studio_achievement where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>